<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="/style/styles.css">
  </head>
  <body class="login-page">

    <img src="imagens/logo_agl.png" alt="Logo AGL" class="logo">
    <main class="login-shell">

      <header class="login-header">
        <a href="/" class="primary-button" style="text-decoration: none; display: inline-block;">Voltar</a>
      </header>

      <section class="login-card">
        <h1>Selecione uma opção</h1>
        <a href="/reposicao" class="login-card__link">
        <section class="login-card__option">
          <span class="login-card__badge">Disponível</span>
          <strong>Reposição</strong>
          <p>Fluxo para impressão de etiquetas de peças de reposição</p>
        </section>
        </a>
        
        <article class="login-card__grid">
          <a href="/cartao-trello" class="login-card__link">
          <section class="login-card__option">
            <span class="login-card__badge">Disponível</span>
            <strong>Cartão Trello</strong>
            <p>Criar um cartão trello de forma automática e padronizada.</p>
          </section>
          </a>
        </article>

        <article class="login-card__grid">
          <a href="/inventario" class="login-card__link">
          <section class="login-card__option">
            <span class="login-card__badge">Disponível</span>
            <strong>Estoque</strong>
            <p>Registrar a contagem de estoque</p>
          </section>
          </a>
        </article>
      </section>
    </main>

    <footer class=""><a href="https://github.com/oneto133/etiquetas/blob/feature/cartao-trello/CHANGELOG.md">Versão 1.4.0</a></footer>
    <script src="/style/login.js"></script>
  </body>
</html>
